* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
    padding: 16px 120px;
}

nav {   
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {  
    display: flex;
    gap: 32px;  
    list-style: none;  
    align-items: center;
}

.menu a {
    text-decoration: none; 
    font-size: 16px;  
    font-weight: 500;
    color: #000000;
}

.btn, .btn1, .btn3 {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;  
    font-weight: 600;
    cursor: pointer;
}

.btn2 a {
    color: #FFFFFF;
}

.btn1, .btn3 {     
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn:hover, .btn1:hover, .btn3:hover {
    background-color: darkgreen; 
}

.btn:hover {
    background-color: darkgreen; 
}

#banner {   
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
    padding: 70px 120px 134px 120px;
}

.banner-content { 
    max-width: 1140px;   
    width: 100%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;  
    align-items: center;   
}

.banner-content h1 {     
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px; 
    max-width: 770px; 
    text-align: center;  
}

.banner-content p { 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;   
    color: #FFFFFF; 
    max-width: 675px;    
    text-align: center; 
}

.early-access {   
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline-block; 
    margin-bottom: 16px;  
    margin-top: 60px;
}

.dot {      
    width: 10px;
    height: 10px;
    background-color: #469165;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 2px 2px 15px #000c05;   
    margin-right: 2px;

}

.badge-text { 
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.white-text {
    color: #FFFFFF;
}

.green-text {    
    color: #30B868;
}

.banner-buttons .btn2 {  
    margin-left: 16px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;   
    border-radius: 4px;
    color: #FFFFFF;
}

.btn2 a {
    text-decoration: none; 
}

#notes {
    margin: 45px 120px 0px 120px;  
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
}

.notes-header h2 {   
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;   
}

.notes-header p {    
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}

.icon {  
    background-color: #F95555;
    width: 60px;
    height: 60px; 
    border-radius: 50%;  
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.notes-cards {  
    margin-top: 44px;   
    display: flex;
    gap: 24px;
}

.note-card {
    padding: 24px;   
    border-radius: 8px;
    max-width: 322px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center; 
    box-shadow: 0px 0px 8px #f8e7e7; 
}

.note-card h3 {  
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;  
    margin-bottom: 16px;
}

.note-card p {  
    font-size: 16px;
    line-height: 25px;
    color: #627382;
}

.second-brain-container {
    display: flex; 
    padding: 120px; 
    justify-content: center;                                                            
    align-items: center;
    gap: 60px;
}

.seconde-brain-image {  
    max-width: 600px;
    border-radius: 12px;
}

.second-brain-content { 
    max-width: 700px;
}

.second-brain-content h2 {   
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height: 58px;
    margin-top: 16px;     
    margin-bottom: 16px;
}

.second-brain-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;   
}

.section-message {   
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px;
}

.brain-list li {  
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.early-access-container {
    background-color: #F7F6F2; 
    padding: 80px 40px;    
    text-align: center;
    margin: 2px 120px 120px 120px;
}

.early-access-container h2 {  
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;  
}

.subtitle {  
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
    margin-left: auto; 
    margin-right: auto;
    width: 600px;
}

.note {  
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;  
}

#footer {  
    background-color: #001931;
    padding: 120px 120px 30px;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right h4 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    border: none;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer-social a {
    color: #FFFFFF;
}

.footer-divider{
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-copy {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
}

.footer-social a:hover, .btn2 a:hover {
    color: #30B868;
}