* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header { 
  background-color: #FFFFFF;
  padding: 16px 120px;      
}

nav {  
  width: 71%;
  max-width: 1140px;
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between;    
  align-items: center;   
}

.menu {  
    display: flex;
    gap: 32px;  
    list-style: none;  
    align-items: center;
}

.menu a {
    text-decoration: none; 
    font-size: 16px;  
    font-weight: 500;
    color: #000000;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;  
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgreen; 
}